# Flutter
.dart_tool/
.packages
build/
*.iml
.idea/
.vscode/
*.lock

# Android
android/app/build/
android/.gradle/
android/local.properties
android/key.properties
*.jks
*.keystore

# iOS
ios/Pods/
ios/.symlinks/

# Generated
lib/**.g.dart
lib/**.freezed.dart

# Misc
*.log
.cache/
